


    <div class="slides">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="images/my1.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item ">
                    <img src="images/my2.jpg" class="d-block w-100" alt="...">
                </div>

                <div class="carousel-item">
                    <img src="~/images/my3.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div>

        <div class="items">
            <h1>Our <span class="sp">Catagories</span></h1>
            <p class="line">________________________</p>

        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-3  ">
                    <div class="card" style="width: 18rem;">
                        <img src="images/w1.jpeg" class="card-img-top" style="height:225px; width:225px;" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Eye Shadows</h5>
                            <p class="card-text">Enter details on next.............. </p>
                            <a href="/home/contactform" class="btn btn-primary">Buy Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card" style="width: 18rem;">
                        <img src="images/w2.jpeg" class="card-img-top" style="height:225px; width:225px;"alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Lipglose</h5>
                            <p class="card-text">Enter details on next..............</p>
                            <a href="/home/contactform" class="btn btn-primary ">Buy Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card" style="width: 18rem;">
                        <img src="~/images/w3.jpeg" class="card-img-top image-fluid " style="height:225px; width:100%;" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Pulses</h5>
                            <p class="card-text">Enter details on next..............</p>
                            <a href="/home/contactform" class="btn btn-primary" >Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>

            
        </div>
    </div>
    

