@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<form action="/home/student" method="post">
    <lable>enter email</lable>
    <input type="email" name="email" />
    <lable>enter Password</lable>
    <input type="password" name="pass" />

</form>